# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Environments
.env
.venv
env/
venv/
ENV/

# OS metadata
.DS_Store
Thumbs.db

# Project local data and models
data/*
!data/.gitkeep
models/*
!models/.gitkeep
